.container,.inner{
    width: 300px;
    height: 200px;
    

}
.container{
    border: 2px solid red;
    background-color: rgb(110, 69, 148);
}
.inner{
    border: 2px solid;
    background-color:tomato;
    /* transform: scale(0.75);
    transform: rotate(-100deg); */
    /* transform: scale(0.5) rotate(45deg) translateX(300px); */
    /* transform: rotate(45deg); */
    /* transform: rotate(45deg) translateX(100px); */
}
.inner:hover{
    transform: rotate(45deg) scale(0.5);
}